In [3]:
import pandas as pd

In [4]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

In [5]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [6]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [7]:
school_series = pd.Series(high_schools)

In [8]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", 
                "Shelton High School", "Hernandez High School",
                "Griffin High School","Wilson High School", 
                "Cabrera High School", "Bailey High School", 
                "Holden High School", "Pena High School", 
                "Wright High School","Rodriguez High School", 
                "Johnson High School", "Ford High School",
                "Thomas High School"]

In [9]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [33]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [35]:
school_df = pd.DataFrame(high_school_dicts)
school_df.reset_index(drop=True, inplace=True)
print(school_df.columns)

Index(['School ID', 'school_name', 'type'], dtype='object')

In [30]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [23]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

# Add the list to a new DataFrame.
schools_df["School ID"] = school_id

# Print the DataFrame.
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [40]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [41]:
df1=pd.DataFrame(school_id, columns=['school_id'])
df2=pd.DataFrame(school_name, columns=['school_name'])
df3=pd.DataFrame(type_of_school, columns=['type_of_school'])

In [42]:
df4=pd.concat([df1,df2,df3],axis=1)
df4

   school_id            school_name type_of_school
0          0      Huang High School       District
1          1   Figueroa High School       District
2          2    Shelton High School        Charter
3          3  Hernandez High School       District
4          4    Griffin High School        Charter

In [43]:
df = pd.concat([pd.Series(v, name=k) for k, v in high_schools_dict.items()], axis=1)
print(df)

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [ ]:
# Determine data types for the student DataFrame.
student_data_df.dtypes